{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
	<h1>Reset your password</h1>
    {% if validlink %}
    	<p>Please enter your new password twice:</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change my password">
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}

{% comment %}
PasswordResetConfirmView 는 URL에 제공된 토크닁 유효성을 검사하고 validlink 변수를 템플릿에 전달한다.
링크가 유효하면 사용자 패스워드 재설정 폼이 표시된다.
사용자는 유효한 패스워드 재설정 링크가 있는 경우에만 새로운 패스워드를 설정할 수 있다.
{% endcomment %}