{% extends "base.html" %}
{% block title %}
	Log-in
{% endblock %}

{% block content %}
	<h1>Log-in</h1>
    {% if form.errors %}
    	<p>
            Your username and password didn't match.
            Please try again.
        </p>
    {% else %}
        <p>
            아직 계정이 없으신가요?
            <a href="{% url 'register' %}">회원가입하기</a>
        </p>
    {% endif %}
    <p>Please, use the following form to log-in</p>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <input type="submit" value="Login">
    </form>
    <p>
        <a href="{% url 'password_reset' %}">
            비밀번호를 잊으셨나요?
        </a>
    </p>
{% endblock %}